@using ProductStoreTask.Properties;
@model Product
@{
    var title = "Update product";
}

<form method="post" style="background-color:white" enctype="multipart/form-data">
    @if (Model.ProductId != 0)
    {
        title = "Edit product";
        <input asp-for="ProductId" hidden />
    }
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4 mb-3">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" class="form-control form-control-sm" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 mb-3">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8 mb-3">
                        <input asp-for="Description" class="form-control form-control-sm" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 mb-3">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8 mb-3">
                        <input asp-for="Price" class="form-control form-control-sm" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4 mb-3">
                        Image
                    </div>
                    <div class="col-8 mb-3">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-primary w-100 btn-sm" value="Edit" />
                        </div>
                        <div class="col">
                            <a asp-action="GetListProducts" class="btn btn-primary w-100 btn-sm">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <img src="@Resources.ImagePath@Model.Image" width="300" height="300"  style="border-radius:5px; border:1px solid black" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }

    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250 
            });
        });
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                })
                return false;
            }
            return true;
        }
    </script>
}

